<p><label><%=t :field_latex_bin %></label><%= text_field_tag "settings[latex_bin]", @settings["latex_bin"], :size => 50 %>
<%= submit_tag t(:button_test), :type => 'button', 
	:onclick => raw("new jQuery.ajax('" +
						url_for({:controller => :doc_pu_settings, :action => :test_latex}) + 
						"',{async:true, dataType: 'html', data:'file=' + $('#settings_latex_bin').val(), 
						success: function(response) {
                            $('#latex-bin-result').html(response);
                        }
						});"
						)
%>
</p>
<div id="latex-bin-result"></div>

<p><label><%=t :field_makindex_bin %></label><%= text_field_tag "settings[makeindex_bin]", @settings["makeindex_bin"], :size => 50 %>
<%= submit_tag t(:button_test), :type => 'button',
    :onclick => raw("new jQuery.ajax('" +
                        url_for({:controller => :doc_pu_settings, :action => :test_makeindex}) + 
                        "',{async:true, dataType: 'html', data:'file=' + $('#settings_makeindex_bin').val(), 
                        success: function(response) {
                            $('#makeindex-bin-result').html(response);
                        }
                        });"
                        )
%>
</p>
<div id="makeindex-bin-result"></div>

<p><label><%=t :field_template_dir %></label><%= text_field_tag "settings[template_dir]", @settings["template_dir"], :size => 50 %>
<%= submit_tag t(:button_test), :type => 'button',
    :onclick => raw("new jQuery.ajax('" +
                        url_for({:controller => :doc_pu_settings, :action => :test_template}) + 
                        "',{async:true, dataType: 'html', data:'file=' + $('#settings_template_dir').val(), 
                        success: function(response) {
                            $('#template-dir-result').html(response);
                        }
                        });"
                        )
%>
</p>
<div id="template-dir-result"></div>
